### Notebook that prepares data for the SFI Masterclass



Writes to /data (observing that max. size for data in Github is ~100 MB)

In [1]:
import os
import sys
import pandas as pd
import random
import numpy as np

#### Unsupervised: creditcard data

https://www.kaggle.com/mlg-ulb/creditcardfraud

In [2]:
N = 30000 # Final number of samples

In [3]:
df = pd.read_csv(r'../bigdata/creditcard.csv')

In [4]:
# df = df.drop(columns=['Time'])

In [5]:
# downsample and obfuscate the data
df_sampled = df.sample(N).reset_index(drop=True)
df_sampled['Time'] = df.head(N)['Time']

In [6]:
df_sampled.shape

(30000, 31)

In [7]:
df_sampled = df_sampled.astype('float16')

In [8]:
original_column_names = list(df_sampled.columns)
new_v_columns = [col for col in df_sampled.columns if 'V' in col]
random.seed(2)
random.shuffle(new_v_columns)
df_sampled = df_sampled[['Time', ] + new_v_columns + original_column_names[-2:]]
df_sampled.columns = original_column_names

In [9]:
X = df_sampled.iloc[:, :-1]
y = df_sampled.Class.astype(int)

In [10]:
X.to_csv(r'../data/X_unsupervised.csv.zip', compression='zip', index=False)
y.to_csv(r'../data/y_unsupervised.csv.zip', compression='zip', index=False)

In [11]:
X_test = pd.read_csv(r'../data/X_unsupervised.csv.zip')

In [12]:
X_test.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-0.7200,0.1262,-0.2262,-0.7573,0.2147,0.3516,1.4450,-0.6830,-0.5464,...,-0.0378,-0.3525,0.6494,-1.0810,-0.39230,-0.14340,-0.6920,0.8833,-0.210200,5.46
1,0.0,-1.4110,0.3550,-1.0470,0.9326,-1.4970,0.3967,-1.4750,1.0490,-1.7940,...,-0.4248,-0.3650,0.9517,0.5230,0.10830,-0.13880,2.5820,-0.3887,0.009520,52.53
2,1.0,0.4917,-1.4040,1.0270,0.9020,-0.7363,-0.3188,0.2524,-2.0230,0.4365,...,-1.0470,-0.7330,-0.1733,1.0900,0.56400,-0.55700,-0.0928,1.5810,-0.005043,22.48
3,1.0,-1.2430,0.2893,-0.7030,0.7340,-0.1942,0.4436,0.3428,-0.1865,-0.1589,...,-2.2770,0.4973,0.7670,-0.3362,-0.00434,0.02498,0.7993,0.4668,0.074460,15.00
4,2.0,0.2642,0.7010,1.5230,-1.4570,-0.3555,1.1720,-0.7266,-1.4990,-0.5590,...,-1.3620,0.5350,-2.4450,1.5910,0.87200,-0.67870,0.9653,0.1272,0.132400,237.00

In [13]:
X_test.shape

(30000, 30)